<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tag Interativa - Recrutamento Douglas Bezerra Possas{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="container-fluid text-center bg-preto bg-vaca">
                <div class="vaca">
                    <a href="index.php" title="Tag" target="_self" class="logo checked">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="34" height="29" viewBox="0 0 39 34" enable-background="new 0 0 39 34" xml:space="preserve">
                            <path d="M19.429 34h-0.001h-0.028c-8.918-0.084-11.817-9.865-12.557-13.287c-6.695-1.316-6.831-6.635-6.706-8.283 c0.066-0.886 1.348-2.59 2.924-2.59l7.425 0.068c0.552-0.065 0.558-0.567 0.56-0.731l0.043-3.757 c-0.028-0.493-0.081-2.81 1.257-4.264C13.039 0.4 14 0 15.1 0c1.065 0 1.9 0.4 2.6 1.1 c1.331 1.4 1.2 3.7 1.1 5.54c-0.02 0.331-0.037 0.606-0.045 0.852c0.062 0.1 0.5 0.2 0.9 0.183h0.116 c0.421 0 0.785-0.125 0.864-0.196c-0.043-0.21-0.056-0.486-0.068-0.781c-0.08-1.861-0.179-4.131 1.169-5.551 c0.641-0.668 1.506-1.022 2.508-1.022c1.136 0 2.1 0.4 2.8 1.2c1.352 1.5 1.2 3.9 1.2 4.354l-0.022 3.7 c-0.001 0.5 0.2 0.7 0.7 0.753l7.256 0.061c1.58 0 2.8 1.7 2.9 2.636c0.095 1.659-0.148 6.98-6.857 8.2 C31.234 24.3 28.2 34 19.4 34 M2.302 12.702c-0.122 2 0.5 5.3 5.6 5.97l0.783 0.107l0.139 0.8 c0.365 2 2.6 12.2 10.5 12.246h0.091c7.851 0 10.239-10.033 10.638-12.047l0.155-0.779l0.783-0.094 c5.126-0.621 5.8-3.876 5.722-5.848c-0.134-0.266-0.542-0.697-0.75-0.699l-7.361-0.068c-1.429-0.148-2.757-1.115-2.745-2.952 l0.031-3.859c0.043-0.467 0.027-1.975-0.634-2.715c-0.283-0.317-0.649-0.465-1.153-0.472c-0.545 0-0.797 0.2-0.938 0.3 c-0.704 0.741-0.625 2.565-0.568 3.898c0.016 0.4 0 0.7 0 0.931c0.002 0.769-0.323 1.259-0.597 1.5 c-0.771 0.779-2.049 0.841-2.421 0.841l-0.127-0.003c-0.358-0.003-1.646-0.07-2.424-0.869c-0.278-0.289-0.598-0.79-0.582-1.559 c0.008-0.268 0.025-0.57 0.046-0.895c0.083-1.372 0.197-3.198-0.496-3.946c-0.142-0.153-0.397-0.357-0.974-0.362 c-0.481 0-0.836 0.143-1.118 0.45c-0.667 0.724-0.718 2.2-0.682 2.661l-0.04 3.901c-0.022 1.835-1.393 2.788-2.658 2.9 l-7.513-0.067C2.864 12 2.4 12.4 2.3 12.7"></path>
                        </svg>
                    </a>
                    <span class="teste">TESTE DA VACA</span>
                    <span class="taginterativa">tag interativa</span>
                </div>
            </div>
        </header>
        
        {% block body %}{% endblock %}
        
        <footer class="bg-preto">
            <div class="container-fluid text-center">
                <a href="index.php" title="Tag" target="_self" class="logo checked">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="34" height="29" viewBox="0 0 39 34" enable-background="new 0 0 39 34" xml:space="preserve">
                        <path d="M19.429 34h-0.001h-0.028c-8.918-0.084-11.817-9.865-12.557-13.287c-6.695-1.316-6.831-6.635-6.706-8.283 c0.066-0.886 1.348-2.59 2.924-2.59l7.425 0.068c0.552-0.065 0.558-0.567 0.56-0.731l0.043-3.757 c-0.028-0.493-0.081-2.81 1.257-4.264C13.039 0.4 14 0 15.1 0c1.065 0 1.9 0.4 2.6 1.1 c1.331 1.4 1.2 3.7 1.1 5.54c-0.02 0.331-0.037 0.606-0.045 0.852c0.062 0.1 0.5 0.2 0.9 0.183h0.116 c0.421 0 0.785-0.125 0.864-0.196c-0.043-0.21-0.056-0.486-0.068-0.781c-0.08-1.861-0.179-4.131 1.169-5.551 c0.641-0.668 1.506-1.022 2.508-1.022c1.136 0 2.1 0.4 2.8 1.2c1.352 1.5 1.2 3.9 1.2 4.354l-0.022 3.7 c-0.001 0.5 0.2 0.7 0.7 0.753l7.256 0.061c1.58 0 2.8 1.7 2.9 2.636c0.095 1.659-0.148 6.98-6.857 8.2 C31.234 24.3 28.2 34 19.4 34 M2.302 12.702c-0.122 2 0.5 5.3 5.6 5.97l0.783 0.107l0.139 0.8 c0.365 2 2.6 12.2 10.5 12.246h0.091c7.851 0 10.239-10.033 10.638-12.047l0.155-0.779l0.783-0.094 c5.126-0.621 5.8-3.876 5.722-5.848c-0.134-0.266-0.542-0.697-0.75-0.699l-7.361-0.068c-1.429-0.148-2.757-1.115-2.745-2.952 l0.031-3.859c0.043-0.467 0.027-1.975-0.634-2.715c-0.283-0.317-0.649-0.465-1.153-0.472c-0.545 0-0.797 0.2-0.938 0.3 c-0.704 0.741-0.625 2.565-0.568 3.898c0.016 0.4 0 0.7 0 0.931c0.002 0.769-0.323 1.259-0.597 1.5 c-0.771 0.779-2.049 0.841-2.421 0.841l-0.127-0.003c-0.358-0.003-1.646-0.07-2.424-0.869c-0.278-0.289-0.598-0.79-0.582-1.559 c0.008-0.268 0.025-0.57 0.046-0.895c0.083-1.372 0.197-3.198-0.496-3.946c-0.142-0.153-0.397-0.357-0.974-0.362 c-0.481 0-0.836 0.143-1.118 0.45c-0.667 0.724-0.718 2.2-0.682 2.661l-0.04 3.901c-0.022 1.835-1.393 2.788-2.658 2.9 l-7.513-0.067C2.864 12 2.4 12.4 2.3 12.7"></path>
                    </svg>
                </a>
                <span class="somos">Somos a TAG.</span>
                <span class="sub">A agência da vaca.</span>
            </div>
        </footer>

        {% block javascripts %}
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
        
        </script>
        {% endblock %}
        
    </body>
</html>
